.main {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elementContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    height: 0;
    width: 80%;
    border: 1px rgba(var(--app-dark-color-rgba), .3) solid;
    transition: .3s;
}

.element.first {
    transform: rotate(45deg);
}

.element.second {
    transform: rotate(-45deg);
}


.main:hover .element {
    border: 1px rgba(var(--app-dark-color-rgba), 1) solid;
}