.main {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(var(--app-dark-color-rgba), .2);
}

.loaderContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}