:root {
    --app-light-color: white;
    --app-dark-color: black;
    --app-dark-color-rgba: 0, 0, 0;
    --app-accent-color: #487eb7;
}

.App {
    height: 100vh;
    width: 70vw;
    margin: auto;
}

.searchPanelContainer {
    width: 100%;
    height: 30%;
}

.contentContainer {
    width: 100%;
    height: 70%;
}